{% extends 'base.html' %}{% block title %}Blog {% endblock title %}aaaaasssssas
{% block blogactive %}active {% endblock blogactive %}{% block body %}
<div class="container my-4">
  <div
    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
  >
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="text-primary"
        >Article by <a href="/about">{{post.author}}</a></strong
      >
      <h3 class="mb-0">{{post.title}}</h3>
      <div class="mb-1 text-muted">{{post.timeStamp}}</div>
      <p class="card-text mb-auto">{{post.content}}</p>
      {% comment %}
      <div class="my-3">
        <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary"
          >Continue Reading</a
        >
      </div>
      {% endcomment %}
    </div>
  </div>
</div>

{% endblock body %}
