{% extends 'base.html' %}{% block title %}Blog {% endblock title %}aaaaasssssas
{% block blogactive %}active {% endblock blogactive %}{% block body %}
<div class="container my-4">
  <div
    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
  >
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="text-primary"
        >Article by <a href="/about">{{post.author}}</a></strong
      >
      <h3 class="mb-0">{{post.title}}</h3>
      <div class="mb-1 text-muted">{{post.timeStamp}}</div>
      <p class="card-text mb-auto">{{post.content}}</p>
    </div>
  </div>
</div>
<div class="container">
  <h4>Comments</h4>
  <div class="my-2">
    {% if user.is_authenticated %}
    <form action="/blog/postcomment" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="comment" placeholder="Enter comment" />
      </div>
      <input type="hidden" name="postsno" value="{{post.sno}}" />
      <button class="btn btn-primary">Submit</button>
    </form>
    {% else %}
    <p>Please login to comment</p>
    {% endif %}
  </div>

  {% for c in comment %}
  <div class="col-md-12 my-3" style="border: 1px solid black">
    <h5>Posted By {{c.user.first_name}} {{ c.user.last_name}}</h5>
    <p>{{c.timeStamp}}</p>
    <p>{{c.comment}}</p>
  </div>
  {% endfor %}
</div>
{% endblock body %}
